# No derived resources
target/
bin/

# No Github Pages
gh-pages/

# No Eclipse files
.settings/
.checkstyle
.classpath
.project

# No IntelliJ Idea project files
.idea/
*.iml

# No temp files
*~
.ci-temp/

# No magic files used by the OS
.DS_Store
