language: java
sudo: false

jdk:
  - oraclejdk8

before_install: git clone git://git.code.sf.net/p/eclipse-cs/git eclipse-cs-git
      && cd eclipse-cs-git/ && git checkout master
      && cd net.sf.eclipsecs.parent/ && mvn install
      && cd ../../

install: cd sevntu-checks && mvn clean install && mvn javadoc:javadoc
      && cd ../eclipsecs-sevntu-plugin && mvn verify && mvn javadoc:javadoc
      && cd ../sevntu-checkstyle-maven-plugin && mvn verify && mvn javadoc:javadoc
      && cd ../sevntu-checkstyle-idea-extension && mvn verify && mvn javadoc:javadoc
      && cd ../sevntu-checkstyle-sonar-plugin && mvn verify && mvn javadoc:javadoc
      && cd ../sevntu-checks && mvn jacoco:report coveralls:jacoco

after_success:

cache:
  directories:
  - ~/.m2

branches:
  only:
    - master

matrix:
  fast_finish: true
