version: 2.1

jobs:

  validate-with-maven-script:
    resource_class: small
    parameters:
      image-name:
        type: string
        default: "cimg/openjdk:11.0.18"
        description: "docker image to use"
      command:
        description: "command to run"
        type: string
        default: ""
    docker:
      - image: << parameters.image-name >>
    steps:
      - checkout
      - restore_cache:
          name: Restore Maven repo cache
          keys:
            - mvn-cache-{{ checksum "sevntu-checks/pom.xml" }}
      - run:
          command: << parameters.command >>
      - run: ./.ci/validation.sh git-diff
      - save_cache:
          name: Save Maven repo cache
          key: mvn-cache-{{ checksum "sevntu-checks/pom.xml" }}
          paths:
            - .m2

workflows:

  test:
    jobs:
      - validate-with-maven-script:
          name: "eclipse-cs"
          command: "./.ci/validation.sh eclipse-cs"
      - validate-with-maven-script:
          name: "idea-extension"
          command: "./.ci/validation.sh idea-extension"
      - validate-with-maven-script:
          name: "sonar-plugin"
          command: "./.ci/validation.sh sonar-plugin"
      - validate-with-maven-script:
          name: "sevntu-checks"
          command: "./.ci/validation.sh sevntu-checks"
      - validate-with-maven-script:
          name: "all-sevntu-checks-contribution"
          command: "./.ci/validation.sh all-sevntu-checks-contribution"
      - validate-with-maven-script:
          name: "checkstyle-regression"
          command: "./.ci/validation.sh checkstyle-regression"
      # until https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/1039
      # - validate-with-maven-script:
      #    name: "eclipse-analysis"
      #    command: "./.ci/validation.sh eclipse-analysis"
